---
layout: default
---

<div class="d-flex align-items-center justify-content-center" style="background-image: url('{{ '/static/img/map.jpg' | relative_url }}'); background-size: cover; background-repeat: no-repeat; background-position: 50% 50%; height: 15rem">
    {% include icons/map-marker.html width="4rem" height="4rem" %}
</div>

<div class="py-4 py-md-5">
    <div class="container">

        <h1 class="text-center mx-auto" style="max-width: 14em">Great news! You’ve reached 10 interested neighbours!</h1>

        <p>There are 9 people in your area who want to collaborate with you, to make Dorset Road a greener, healthier place to live.</p>

        <h2>What’s next?</h2>
        
        <h3>Avengers assemble!</h3>

        <p>Organise a meet-up with your neighbours, to make a plan for change. Many hands make light work, and there’s a place here for people with all sorts of skills.</p>

        <p>Who’s already on your team?</p>

        <p>
            <a href="#" class="btn btn-warning">Organise your first meet-up</a>
        </p>
            
        <h3>Make it your own</h3>
        
        <p>Use our free online guide to choose the improvements that suit your area best. We’ll walk you through:</p>

        <ul>
            <li>Picking native plant species that match your climate and soil type</li>
            <li>Identifying which local pollinators your changes could help</li>
            <li>Finding out who owns disused land in your area</li>
            <li>Getting your council on board by matching your improvmeents to commitments in their Climate Action Plan</li>
        </ul>

        <p>
            <a href="#" class="btn btn-warning">Flick through the guide</a>
        </p>

        <h3>Share the good news</h3>

        <p>Local councillors have an interest in making their areas healthy and beautiful – and they’re a great route into the council.</p>
        
        <p>Share this page with your local councillor, so they can help too!</p>

        <p>
            <a href="#" class="btn btn-warning">Drop them a line</a>
        </p>

    </div>
</div>

<div class="bg-gray-900 text-white py-5">
    <div class="container d-flex justify-content-end">
        <a href="{{ '/follow-up' | relative_url }}" class="btn btn-outline-secondary d-flex align-items-center">
            Next prototype
            {% include icons/chevron-right.html classes="ms-1" %}
        </a>
    </div>
</div>
