---
layout: default
---

<div class="d-flex align-items-center justify-content-center" style="background-image: url({{ '/static/img/map.jpg' | relative_url }}); background-size: cover; background-repeat: no-repeat; background-position: 50% 50%; height: 15rem">
    {% include icons/map-marker.html width="4rem" height="4rem" %}
</div>

<div class="py-4 py-md-5">
    <div class="container">

        <h1 class="text-center">Dorset Road, Birmingham, B17 8EN</h1>

        <div class="row my-5">
            <div class="col-sm-6 col-lg-3">
                <p class="fw-bold mb-2">Rank in Birmingham</p>
                <p>Bottom 20%</p>
            </div>
            <div class="col-sm-6 col-lg-3">
                <p class="fw-bold mb-2">Public green space</p>
                <p>6m<sup>2</sup> per person</p>
            </div>
            <div class="col-sm-6 col-lg-3">
                <p class="fw-bold mb-2">Nearest green space</p>
                <p>25 minute walk</p>
            </div>
            <div class="col-sm-6 col-lg-3">
                <p class="fw-bold mb-2">Garden area per person</p>
                <p>27m<sup>2</sup> per person</p>
            </div>
        </div>

        <p class="mt-4 mb-5 d-sm-flex align-items-center justify-content-center">
            <a class="btn btn-lg btn-facebook d-flex align-items-center mb-3 mb-sm-0 me-sm-3">
                {% include icons/facebook.html classes="me-2" %}
                Share on Facebook
            </a>
            <a class="btn btn-lg btn-whatsapp d-flex align-items-center">
                {% include icons/whatsapp.html classes="me-2" %}
                Share on WhatsApp
            </a>
        </p>

        <div class="row align-items-md-center my-5">
            <div class="col-md-6">
                <h2 class="mb-3">There are lots of ways to improve nature and biodiversity in your area. Here are a few…</h2>
                <ul>
                    <li class="mt-2">Working with your local councillors to add trees along your street – great for shade in the summer!</li>
                    <li class="mt-2">Linking up patches of disused space, to form green corridors between parks and green spaces.</li>
                    <li class="mt-2">Crafting bird boxes and bird feeders with your neighbours, to make your street a haven for wildlife.</li>
                </ul>
            </div>
            <div class="offset-md-1 col-md-5">
                <img src="{{ '/static/img/nature-pana.svg' | relative_url }}" alt="">
            </div>
        </div>

        <div class="row align-items-md-center my-5">
            <div class="col-md-6 offset-md-1 order-md-2">
                <h2 class="mb-3">It’s easy when you know how! Here’s our five steps to success…</h2>
                <ol>
                    <li class="mt-2">
                        <strong>Recruit a critical mass</strong> –
                        Community projects do best with at least 10 backers. Recruit more for guaranteed success!
                    </li>
                    <li class="mt-2">
                        <strong>Get advice</strong> –
                        Access our library of guidance and inspiration, or recruit 15 neighbours to get hands-on advice from an expert.
                    </li>
                    <li class="mt-2">
                        <strong>Choose a change</strong> –
                        Meet up with your neighbours and choose a project that suits your area.
                    </li>
                    <li class="mt-2">
                        <strong>Contact the landowner</strong> –
                        Whether it’s council land, or private land, we’ll help you make it happen.
                    </li>
                    <li class="mt-2">
                        <strong>Enjoy more nature</strong> –
                        Full steam ahead! Take action with your neighbours, and enjoy a greener, healthier neighbourhood.
                    </li>
                </ol>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="{{ '/static/img/gardening-pana.svg' | relative_url }}" alt="">
            </div>
        </div>

        <div class="row align-items-md-center my-5">
            <div class="col-md-6">
                <h2 class="mb-3">Improving your area’s score is easy when you act together</h2>
                <p>And not just gardeners! It takes neighbours with all sorts of skills – maybe you can bake cakes for the group’s first meetups, or help construct fences and planters? Maybe you’re just up for spreading the word and making new friends!</p>

                <p class="h4 my-4">Will you join in?</p>

                <div class="row">
                    <div class="col-sm-6">
                        <p style="max-width: 20em">I’d be up for doing something in my area – notify me when we’ve got critical mass</p>
                        <a href="{{ '/signed-up' | relative_url }}" class="btn btn-warning">Join the movement</a>
                    </div>
                    <div class="col-sm-6">
                        <p style="max-width: 20em">I’m not in a place where I can help with this right now, but keep me informed!</p>
                        <a href="{{ '/signed-up' | relative_url }}" class="btn btn-warning">Stay informed</a>
                    </div>
                </div>
            </div>
            <div class="offset-md-1 col-md-5">
                <img src="{{ '/static/img/team-goals-pana.svg' | relative_url }}" alt="">
            </div>
        </div>

    </div>
</div>

<div class="bg-gray-900 text-white py-5">
    <div class="container">
        <a href="https://storyset.com" class="text-muted">Illustrations by Storyset</a>
    </div>
</div>
