---
layout: default
---

<div class="d-flex align-items-center justify-content-center" style="background-image: url('{{ '/static/img/map.jpg' | relative_url }}'); background-size: cover; background-repeat: no-repeat; background-position: 50% 50%; height: 15rem">
    {% include icons/map-marker.html width="4rem" height="4rem" %}
</div>

<div class="py-4 py-md-5">
    <div class="container">

        <h1 class="text-center"><span class="js-confetti">Woop! You’ve signed up!</span></h1>

        <p>You’re one of 5 people in your immediate area who’ve expressed an interest in making a change.</p>
        
        <h2>What’s next?</h2>
        
        <p>5 is great, but you’ll need more. Science shows getting another 5 people on board with your cause will massively increase your chance of success.</p>

        <p>
            <a href="#" class="btn btn-warning">Share on Facebook</a>
            <a href="#" class="btn btn-warning">Share on WhatsApp</a>
        </p>

        <p>But why stop there? If you hit <strong>15 people</strong>, the RSBP will send you three free bird boxes. If you hit <strong>25 people</strong>, B&amp;Q will supply you with half-price building materials.</p>

        <h3>Friends in high places</h3>

        <p>Local councillors have an interest in making their areas healthy and beautiful – and they’re a great route into the council.</p>
        
        <p>Share this page with your local councillor, so they can help too!</p>

        <p>
            <a href="#" class="btn btn-warning">Drop them a line</a>
        </p>

    </div>
</div>

<div class="bg-gray-900 text-white py-5">
    <div class="container d-flex justify-content-end">
        <a href="{{ '/critical-mass' | relative_url }}" class="btn btn-outline-secondary d-flex align-items-center">
            Next prototype
            {% include icons/chevron-right.html classes="ms-1" %}
        </a>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/party-js@latest/bundle/party.min.js"></script>
