<header role="banner" class="py-4 bg-gray-100">
    <div class="container text-center d-flex align-items-center justify-content-center">
        <a href="{{ '/' | relative_url }}" class="h1 display-4 lh-1 d-flex align-items-center justify-content-center flex-grow-0" style="text-decoration: none; color: inherit;">
            {% include icons/light-bulb.html classes="me-3 mb-1" %}
            <span class="text-primary" style="padding-top: 0.25em">Street</span>
            <span class="text-secondary" style="padding-top: 0.25em">Seed</span>
        </a>
    </div>
</header>
