// Color system

$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$blue: #0d6efd;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #dc3545;
$orange: #FF725E;
$yellow: #ffc107;
$green: #198754;
$teal: #20c997;
$cyan: #0dcaf0;

$social-colors: (
    facebook: #3b5998,
    twitter: #1da1f2,
    linkedin: #0077b5,
    whatsapp: #25d366,
    gmail: #ea4335
);

$primary: $orange;
$secondary: $teal;

// Options

$enable-shadows: true;
$enable-negative-margins: true;

// Gradient

// Spacing

// Position

// Body

// Utilities maps

// Links

$link-color: $blue;

// Paragraphs

// Grid breakpoints

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

// Grid containers

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

// Grid columns

// Container padding

// Components

// Typography

$font-family-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$headings-font-family: Grandstander, $font-family-sans-serif;
$headings-font-weight: 900;

// Tables

// Buttons + Forms

// Buttons

$btn-padding-x: 1rem;
$btn-padding-x-sm: 0.5rem;
$btn-padding-x-lg: 1.25rem;

$btn-border-radius: 10rem;
$btn-border-radius-sm: $btn-border-radius;
$btn-border-radius-lg: $btn-border-radius;

// Forms

$form-label-font-weight: bold;

// Form validation

// Z-index master list

// Navs

// Navbar

// Dropdowns

// Pagination

// Placeholders

// Cards

// Accordion

// Tooltips

// Popovers

// Toasts

// Badges

// Modals

// Alerts

// Progress bars

// List group

// Image thumbnails

// Figures

// Breadcrumbs

// Carousel

// Spinners

// Close

// Offcanvas

// Code
